{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <h1>Cart</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Produits</th>
            <th>Nombre de Produits</th>
            <th>Prix Total</th>
        </tr>
        </thead>
        <tbody>
        {% for cartProduct in cart.cartProducts %}
            {% set product = cartProduct.product %}
            <tr>
                <td>{{ cart.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.slug }}</td>
                <td>{{ cart.total }} €</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
