{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <!-- Slide1 -->
    <section class="slide1">
        <div class="wrap-slick1">
            <div class="slick1">
                {% for collection in collections %}
                    {% include 'index/partials/slide.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock body %}
